@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:300,400,600&subset=latin-ext');

.text-helvetica{font-family: Arial, Helvetica, sans-serif}

.App {
  font-family: Helvetica, sans-serif;
  
}
.body{
  align-content: center;
}
.selection{
  margin: 10px;
  width: 20%;
  border-radius: 4px;
}

.App-logo {
  height: 40px;
  width: 80px;
  padding: 10px;
}

.App-header {
  background-color:#000099;
  height: 60px;
  padding: 20px;
  color: white;
}
.Tabs .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color:  #006 !important;
  border: solid #006 !important;
  border-radius: 5px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.celenderStyle{
  border: solid greenyellow !important;
  border-radius: 4px;
}

.container{
  text-align: center;
  border: solid 1px;
  width: 100%;
  background-color: #fafbfc;

}

.calendarSection{
  text-align: center;
  width: 60%;
  float: right;
  margin-top: 10px;
}

/*Style for input of dates*/
.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: black !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 4px !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
  width: 550px;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}



.secondHandChoice .firstHandChoice{
  border: dotted 1px;
  padding: 5px;
  margin: 15px;
  border-radius: 4px;

}

.handChoice h3 { float: left; font-size: 1em; }


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .container {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

}

.navbar-brand {
  font-weight: bold;
  margin-bottom: 5px;

}

.App .navbar {
  width: 100%;
  padding: 0%;
  border-color: #000099; /* för markeringen */
  border-radius: 0%;

}
.App .container-fluid {
  background-color: #000099;
  margin: 0%;
  border-radius: 0%;
  
}


@media (min-width: 768px) {
  .container {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  
  }
}