@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:300,400,600&subset=latin-ext');

.text-helvetica{font-family: Arial, Helvetica, sans-serif}

.App {
  font-family: Helvetica, sans-serif;
  
}
.body{
  align-content: center;
}

.App-logo {
  height: 40px;
  width: 80px;
  padding: 10px;
}

.App-header {
  background-color:#000099;
  height: 60px;
  padding: 20px;
  color: white;
}
.Tabs .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color:  #006 !important;
  border: solid #006 !important;
  border-radius: 5px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.celenderStyle{
  border-radius: 4px;
  margin: auto;
}

.container{
  text-align: center;
  border: solid 1px;
  width: 100%;
  background-color: #006;

}

.calendarSection{
  text-align: center;
  width: 60%;
  float: right;
  margin-top: 10px;
}

.innerCalendar1{
  width: 48%; 
  float: left;
}

.innerCalendar2{
  width: 48%; 
  float: right;
}
.datePickerSection{
  border: solid 2px;
  float: left;
  margin-top: 10px;
  color: white;
}

.handChoice{
  border: dotted 1px;
  margin: 5px;

}

.handChoice h3 { float: left; font-size: 1em; }

.datePicker{
  text-align: center;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .container {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

}

.navbar-brand {
  font-weight: bold;
  margin-bottom: 5px;

}

.App .navbar {
  width: 100%;
  padding: 0%;
  border-color: #000099; /* för markeringen */
  border-radius: 0%;

}
.App .container-fluid {
  background-color: #000099;
  margin: 0%;
  border-radius: 0%;
  
}


@media (min-width: 768px) {
  .container {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  
  }
}