
/* .Tabs .navbar-default .navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover{
  background-color:  #006 !important;
  border: solid #006 !important;
  border-radius: 5px;
  color: white;
} */




.navbar {
  border-radius: 0%;
  /* background-color: #000099; */

}

  .react-calendar-timeline *{
    z-index: -2;
  }

  .rct-sidebar-header{
    background: #0033cc !important;
  }

  .rct-label-group{
    background: #0033cc !important;
  }
  .DateRangePickerInput__withBorder{
    border-radius: 4px;
  }

  .choiceLabel{
    color: white;
  }
/* For table in my vacations */
.table {
  margin-bottom: 0% !important;
}


/* For admin page */

.adminHeader {
  margin-top: 100px;
  margin-bottom: 50px;
}

.calendar-icon {
  width: 15px;
  height: 12px;
}

.manageButton {
  margin-bottom: 30px;
}

.adminBreak {
  margin-top: 7px !important;
}

.dropDownGroups {
  margin-bottom: 20px;
}