
/* .Tabs .navbar-default .navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover{
  background-color:  #006 !important;
  border: solid #006 !important;
  border-radius: 5px;
  color: white;
} */

.body{
  
}
.celenderStyle{
  border-radius: 4px;
  margin: auto;
}

.container{
  text-align: center;
  border: solid 1px;
  width: 100%;
  background-color: #006;

}

.calendarSection{
  text-align: center;
  width: 60%;
  float: right;
  margin-top: 10px;
}

.innerCalendar1{
  width: 48%; 
  float: left;
}

.innerCalendar2{
  width: 48%; 
  float: right;
}
.datePickerSection{
  border: solid 2px;
  float: left;
  margin-top: 10px;
  color: white;
}

.handChoice{
  border: dotted 1px;
  margin: 5px;

}

.handChoice h3 { float: left; font-size: 1em; }

.datePicker{
  text-align: center;

}

.navbar {
  border-radius: 0%;
  /* background-color: #000099; */

}

.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
  width: 550px;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}
